body {
  background-color: rgb(36, 104, 175);
  font-family: 'Raleway', sans-serif;

}

#file-bod {
  margin-left: 5%;
  margin-right: 5%;
}

.title {
  text-align: center;
}

#login-form {
  margin: auto;
  width: 50%;
  text-align: center;
}

#login-box {
  margin: auto;
  width: 30%;
  text-align: center;
  margin-top: 15%;
  background-color: rgb(158, 170, 189);
  padding-bottom: 5%;
  padding-top: 5%;
border-style: outset;
}

#check-div {
  margin: auto;
  width: 30%;
  text-align: center;
  margin-top: 15%;
  background-color: rgb(158, 170, 189);
  padding-bottom: 5%;
  padding-top: 5%;
border-style: outset;
}

.form-box {
  border-style: inset;
  width: 20%;
}
#file-title {
  display: inline-block;;
}

#prefs {
  display: inline-block;
  float: right;
  border-style: inset;
  background-color: rgb(158, 170, 189);

}
